body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.897);
}

header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.856);
}
header img{
    width: 70px;
    padding: 14px;
    cursor: pointer;
}
#menu-drop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
#block{
    width: 100%;
    background-color: brown;
    height: 100px;
    line-height: 100px;
    color: white;
    font-size: 24px;
}
#block:hover{
    background-color: rgb(51, 1, 51);
    cursor: pointer;
}

